statemachine/embedding_pipeline_state_machine.asl.json
{
    "Comment": "A state machine to convert documents from S3 into Vectors and store them into Pinecone",
    "StartAt": "Extension Checker",
    "States": {
        "Extension Checker": {
            "Type": "Task",
            "Resource": "${FileExtensionFunctionArn}",
            "Next": "Extension Choice",
            "ResultPath": "$.extension_finder",
            "Retry": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "BackoffRate": 2,
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "Comment": "Retry"
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Unsupported Extension"
                }
              ]
        },
        "Extension Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.extension_finder.extension",
                    "StringEquals": "pdf",
                    "Next": "PDF to Text"
                },
                {
                    "Variable": "$.extension_finder.extension",
                    "StringEquals": "docx",
                    "Next": "DOCX to Text"
                },
                {
                    "Variable": "$.extension_finder.extension",
                    "StringEquals": "html",
                    "Next": "HTML to Text"
                }
            ],
            "Default": "Unsupported Extension"
        },
        "Unsupported Extension": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
              "Message.$": "$",
              "TopicArn": "${SNSFailureTopicArn}"
            },
            "End": true
        },
        "PDF to Text": {
            "Type": "Task",
            "Resource": "${PDFLoaderFunctionArn}",
            "Next": "Pinecone Index",
            "ResultPath": "$.loader",
            "Retry": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "BackoffRate": 2,
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "Comment": "Retry"
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Unsupported Extension"
                }
              ]
        },
        "DOCX to Text": {
            "Type": "Task",
            "Resource": "${DocXLoaderFunctionArn}",
            "Next": "Pinecone Index",
            "ResultPath": "$.loader",
            "Retry": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "BackoffRate": 2,
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "Comment": "Retry"
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Unsupported Extension"
                }
              ]
        },
        "HTML to Text": {
            "Type": "Task",
            "Resource": "${HTMLLoaderFunctionArn}",
            "Next": "Pinecone Index",
            "ResultPath": "$.loader",
            "Retry": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "BackoffRate": 2,
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "Comment": "Retry"
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Unsupported Extension"
                }
              ]
        },
        "Pinecone Index": {
            "Type": "Task",
            "Resource": "${PineConeEmbeddingFunctionArn}",
            "Retry": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "BackoffRate": 2,
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "Comment": "Retry"
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Unsupported Extension"
                }
              ],
            "End": true
        }
    }
}